%h1= "teams"[:teams]

%table
  %tr
    %th Name
  
  - @teams.each do |team|
    %tr{ :class=>cycle('row-a', 'row-b')}
      %td 
        = link_to "#{team.name}", team
      - if logged_in?
        %td
          = link_to 'Edit'[:edit], edit_team_path(team)
        %td
          = link_to 'Destroy'[:destroy], team, :confirm => 'Are you sure?', :method => :delete

%br
- if logged_in?
  = link_to 'New'[:new_female]+' '+'team'[:team], new_team_path