%h1 Listing teams

%table
  %tr
    %th Name
  
  - @teams.each do |team|
    %tr
      %td 
        = link_to "#{team.name}", team
      - if logged_in?
        %td
          = link_to 'Edit', edit_team_path(team)
        %td
          = link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete

%br
- if logged_in?
  = link_to 'New team', new_team_path
=h @album.data