%h1 New team
- form_for(@team) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.submit t("confirm"), :class => "button"
= link_to t("back"), teams_path
