%h1 New team
- form_for(@team) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.submit "Create"[:create], :class => "button"
= link_to 'Back'[:back], teams_path
