%h1
  =@team.name
%br
%table
  %tr
    %th= 'League'[:league]
    %th= 'Round'[:round]
    %th= 'Starts'[:starts]
    %th= 'Home'[:home]+' vs '+'Visitor'[:visitor]
    %th= 'Score'[:score]
    - @matches.each do |match|
      %tr
        %td= match.round.league.name
        %td= match.round.name
        %td 
          = year_month_day(match.round.date)
          =','
          = hour_minute(match.hour)
        %td 
          = link_to_if match.home_team.name!= 'Pause', "#{match.home_team.name}", match.home_team
          =' - '
          = link_to_if match.visitor_team.name!= 'Pause', "#{match.visitor_team.name}", match.visitor_team
        %td= match.score
  %br
%p
  %b
    - stats=@team.statistics
    Rozegrane mecze: 
    = stats[:played]
    %br
    Wygrane sety:
    = stats[:won]
    %br
    Przegrane sety:
    = stats[:lost]