%h1= @team.name
%ul
  %li
    = t("matches_played") + ":"
    = @team.statistics[:played]
  %li
    = t("sets_won") + ":"
    = @team.statistics[:won]
  %li
    = t("sets_lost") + ":"
    = @team.statistics[:lost]
%table
  %tr
    %th= t("league")
    %th= t("round")
    %th= t("start_date")
    %th= t("home_vs_visitor")
    %th= t("score")
    - @matches.each do |match|
      %tr{ :class=>cycle('row-a', 'row-b')}
        %td= match.round.league.name
        %td= match.round.name
        %td
          = hour_minute(match.hour)
        %td
          = link_to_if match.home_team.name!= 'Pause', "#{match.home_team.name}", match.home_team
          =' - '
          = link_to_if match.visitor_team.name!= 'Pause', "#{match.visitor_team.name}", match.visitor_team
        %td= match.score
