%h1
  =@team.name
%br
%table
  %tr
    %th Round
    %th Starts
    %th Home vs. Visitor
    %th Score
    - @matches.each do |match|
      %tr
        %td= match.round.name
        %td 
          = year_month_day(match.round.date)
          =','
          = hour_minute(match.hour)
        %td 
          = link_to_if match.home_team.name!= 'Pause', "#{match.home_team.name}", match.home_team
          =' - '
          = link_to_if match.visitor_team.name!= 'Pause', "#{match.visitor_team.name}", match.visitor_team
        %td= match.score
  %br