%h1= t("views.password_resets.edit")

= simple_form_for @user, :url => password_reset_path, :method => :put do |f|
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, t("confirm")
