%h1= t("views.password_resets.new")

%p= t("views.password_resets.instructions")

= simple_form_for :password_reset, :url => password_resets_path, :method => :post do |f|
  = f.input :email
  = f.button :submit, t("confirm"), :class => "button"
