%h1= "leagues"[:leagues]

%table
  %tr
    %th Name
  
  - @leagues.each do |league|
    %tr{ :class=>cycle('row-a', 'row-b')}
      %td 
        =link_to "#{league.name}", league_rounds_path(league.id)
      - if logged_in?
        %td
          = link_to 'Edit'[:edit], edit_league_path(league)
          = link_to 'Destroy'[:destroy], league, :confirm => 'Are you sure?', :method => :delete

%br
- if logged_in?
  = link_to 'New league', new_league_path
