%h1 New league

- form_for(@league) do |f|
  = f.error_messages
  %p
    = f.label :name
  %br
    = f.text_field :name
  %p
    = f.label :teams
  %br
    = f.collection_select :team_ids, Team.find(:all), :id, :name, {}, :multiple => true
  %p
    = f.label :active
  %br
    = f.check_box :active
  %p
    = f.submit "Create"[:create], :class => "button"

= link_to 'Back'[:back], leagues_path
