%h1 New comment

- form_for(@comment) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :content
    %br
    = f.text_area :content
    = f.hidden_field( :post_id, :value => params[:post_id])
  %p
    = f.submit "Create"[:create], :class => "button"
= link_to 'Back', post_path(params[:post_id])