%h1= 'New'[:new_male]+' '+'comment'[:comment]

- form_for(@comment) do |f|
  = f.error_messages
  %p
    %label#name= 'name'[:name]
    %br
    = f.text_field :name
  %p
    %label#content= 'content'[:content]
    %br
    = f.text_area :content
    = f.hidden_field( :post_id, :value => params[:post_id])
  %p
    = f.submit "Create"[:create], :class => "button"
= link_to 'Back'[:back], post_path(params[:post_id])