%h1 Editing round

- form_for(:round, :url => league_round_path( params[:league_id], @round ), :html => {:method => :put}) do |f|
  = f.error_messages

  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :date
    %br
    = f.date_select :date
  %p
    = f.submit "Update"[:update], :class => "button"

= link_to 'Back'[:back], league_rounds_path(@league)
