%h1 
="Listing rounds for #{@league.name}"
%ul 
  - for round in @rounds
    %p
      %il
        = h round.name
        = h round.date
        = link_to 'Show', league_round_path(@league, round)
        = link_to 'Edit', edit_league_round_path(@league,round)
        = link_to 'Destroy', league_round_path(@league, round), :confirm => 'Are you sure?', :method => :delete
      %ul
        - for match in round.matches
          %il
            = h match.hour
            = match.home_team.name
            = #{ - } 
            = match.visitor_team.name
            = #{ }
            = match.score
            %br
%br
= link_to 'New round', new_league_round_path(@league)
