%h1= @league.name
- if logged_in?
  = link_to t("views.rounds.new_round"), new_league_round_path(@league)
  = link_to t("views.rounds.new_match"), new_league_match_path(@league)
%ul
  - @rounds.each do |round|
    %li
      %b= round.name
      = year_month_day(round.date)
      - if logged_in?
        = link_to t("edit"), edit_league_round_path(@league,round)
        = link_to t("destroy"), league_round_path(@league, round), :confirm => t("sure"), :method => :delete
    %table
      %tr
        %th= t("start_date")
        %th= t("home")
        %th= t("visitor")
        %th= t("score")
      - for match in round.matches
        %tr
          %td
            = hour_minute( match.hour)
          %td
            = link_to match.home_team.name, match.home_team
          %td
            = link_to match.visitor_team.name, match.visitor_team
          %td
            = match.score
          - if logged_in?
            %td
              = link_to t("edit"), edit_league_match_path(@league, match)
              = link_to t("destroy"), league_match_path(@league, match), :confirm => t("sure"), :method => :delete

%h1= t("views.rounds.table")
%table
  %tr
    %th
    %th= t("team")
    %th= t("matches_played")
    %th= t("points")
    %th= t("sets_won")
    %th= t("sets_lost")
  - @league.team_tables.sorted_table.each_with_index do |table, index|
    %tr
      %td
        = index + 1
      %td
        = link_to table.team.name, table.team
      %td
        = table.matches_played
      %td
        = table.points
      %td
        = table.sets_won
      %td
        = table.sets_lost
