%h1 New round

- form_for(:round, :url => league_rounds_path( params[:league_id] )) do |f|
  = f.error_messages

  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :date
    %br
    = f.datetime_select :date
  %p
    = f.submit "Create"
= link_to 'Back', league_rounds_path(@league)
