= simple_form_for @player do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :birth_date, :start_year => Time.now.year - 70, :end_year => Time.now.year, :order => [:day, :month, :year], :include_blank => true
  = f.input :height
  = f.input :position, :collection => player_positions
  = f.input :photo_url
  = f.input :about
  = f.input :active_player
  %div= f.button :submit, t("confirm"), :class => "button"
