%div.player
  - if player.photo_url.blank?
    = image_tag("unknown.gif")
  - else
    = image_tag player.photo_url
  %div.hidden
    %span.name= player.full_name
    %br
    Urodzony:
    = year_month_day(player.birth_date)
    %br
    = "Wzrost: #{player.height} cm" if player.height.present?
    %br
    Pozycja:
    = player.position_name
    %br
    %br
    = player.about
  %br
  = player.full_name
  - if logged_in?
    %br
    = link_to t("edit"), edit_player_path(player)
    = link_to t("destroy"), player, :confirm => t("sure"), :method => :delete
