%div.player
  - if player.photo_url.blank?
    = image_tag '/images/unknown.gif'
  - else
    = image_tag player.photo_url
  %div.hidden
    %span.name= h player.full_name
    %br
    Urodzony:
    = h year_month_day( player.birth_date )
    %br
    = h "Wzrost: #{player.height} cm" if player.height.present?
    %br
    Pozycja:
    = h player.position_name
    %br
    %br
    = h player.about
  %br
  = player.full_name
  - if logged_in?
    %br
    = link_to t("edit"), edit_player_path(player)
    = link_to t("destroy"), player, :confirm => t("sure"), :method => :delete
