%h1= t("players")
- if logged_in?
  %p= link_to t("views.players.new"), new_player_path
#players
  %h2= t("views.players.present")
  = render @active_players
  %h2.clear= t("views.players.past")
  = render @not_active_players
