= simple_form_for [@league, @match] do |f|
  = f.association :round, :collection => @league.rounds.reverse, :include_blank => false
  = f.input :hour, :minute_step => 5, :default => @league.rounds.last.date
  = f.association :home_team, :collection => @league.teams, :input_html => {:disabled => @match.persisted?}
  = f.association :visitor_team, :collection => @league.teams, :input_html => {:disabled => @match.persisted?}
  = f.input :score, :hint => t("views.matches.score_hint")
  = f.button :submit, t("confirm"), :class => "button"
