<h1>Editing match</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :home_team_id %><br />
    <%= f.text_field :home_team_id %>
  </p>
  <p>
    <%= f.label :visitor_team_id %><br />
    <%= f.text_field :visitor_team_id %>
  </p>
  <p>
    <%= f.label :hour %><br />
    <%= f.datetime_select :hour %>
  </p>
  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.label :round_id %><br />
    <%= f.text_field :round_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @match %> |
<%= link_to 'Back', matches_path %>
