%h1 Editing match
- form_for(:match, :url => league_match_path( params[:league_id], @match ), :html => {:method => :put}) do |f|
  = f.error_messages
  %p
    = f.label :round_id
    %br
    = f.select( :round_id, Round.find_all_by_league_id(params[:league_id]).collect{ |p| [p.name, p.id] } )
  %p
    = @match.home_team.name
    = ' - '
    = @match.visitor_team.name
    %br
    = f.label :hour
    = time_select( :match, :hour)
    %br
    = f.label :score
    = f.text_field :score, :size => 3
    = f.submit "Update"[:update], :class => "button"
  
= link_to 'Back'[:back], league_matches_path(params[:league_id])
