%h1 Editing match

- form_for(@match) do |f|
  = f.error_messages
  %p
    = f.label :round_id
    %br
    = f.select( :round_id, Round.all.collect{ |p| [p.name, p.id] } )
  %p
    = @match.home_team.name
    = ' - '
    = @match.visitor_team.name
    %br
    = f.label :date
    = time_select( :match, :hour)
    %br
    = f.label :score
    = f.text_field :score
    = f.submit "Update", :class => "button"
  
= link_to 'Back', matches_path
