%h1= t("matches")
%table
  %tr
    %th= t("start_date")
    %th= t("home")
    %th= t("visitor")
    %th= t("score")
    %th= t("round")
  - for match in @matches
    %tr{ :class=>cycle('row-a', 'row-b')}
      %td
        =h hour_minute( match.hour)
      %td
        = link_to_if match.home_team.name !='Pause', "#{match.home_team.name}", match.home_team
      %td
        = link_to_if match.visitor_team.name !='Pause', "#{match.visitor_team.name}", match.visitor_team
      %td
        =h match.score
      %td
        =h match.round.name
      - if logged_in?
        %td
          = link_to_if match.score.empty?, t("edit"), edit_league_match_path(params[:league_id], match)
          = link_to t("destroy"), league_match_path(params[:league_id], match), :confirm => t("sure"), :method => :delete
    %br
- if logged_in?
  = link_to t("views.matches.new"), new_league_match_path(params[:league_id])
