%h1= t("recent_matches")
%table
  %tr
    %th= t("league")
    %th= t("start_date")
    %th= t("home")
    %th= t("visitor")
    %th= t("score")
  - @matches.each do |match|
    %tr
      %td
        = match.league.name
      %td
        = hour_minute( match.hour)
      %td
        = link_to_if match.home_team.name !='Pause', "#{match.home_team.name}", match.home_team
      %td
        = link_to_if match.visitor_team.name !='Pause', "#{match.visitor_team.name}", match.visitor_team
      %td
        = match.score
      - if logged_in?
        %td
          = link_to t("edit"), edit_league_match_path(match.league, match)
          = link_to t("destroy"), league_match_path(match.league, match), :confirm => t("sure"), :method => :delete
