%h1 New match

-form_for(@match) do |f|
  = f.error_messages

  %p
    = f.label :home_team_id
    %br
    = f.text_field :home_team_id
  %p
    = f.label :visitor_team_id
    %br
    = f.text_field :visitor_team_id
  %p
    = f.label :hour
    %br
    = f.select_hour :hour
  %p
    = f.label :score
    %br
    = f.text_field :score
  %p
    = f.label :round_id
    - Round.find(:all).each do |round|
      =round.id
    %br
    = f.text_field :round_id
  %p
    = f.submit "Create"

= link_to 'Back', matches_path
