%h1 New match
- form_for(:match, :url => league_matches_path( params[:league_id] )) do |f|
  = f.error_messages
  %p
    = f.label :round_id
    %br
    = f.select( :round_id, Round.find_all_by_league_id(params[:league_id]).collect{ |p| [p.name, p.id] } )
  %p
    = f.label :hour
    %br
    = f.datetime_select :hour, :minute_step => 15
  %p
    = f.label :home_team_visitor_team
    %br
    = f.select(:home_team_id, @league.teams.collect{ |p| [p.name, p.id] } )
    = f.select(:visitor_team_id, @league.teams.collect{ |p| [p.name, p.id] } )

  %p
    = f.label :score
    %small (leave empty if none)
    %br
    = f.text_field :score, :size=> 3

  %p
    = f.submit "Create"[:create], :class => "button"

= link_to 'Back'[:back], league_matches_path(params[:league_id])
