%h1 Listing posts
- for post in @posts
  %p
    %b= post.title
    %br
    %small 
      = post.user.login
      = post.created_at.strftime("%d.%m.%y %H:%M")
    %br
    %br
    = post.content
    %br
    %small 
      Ilośc komentarzy: 
      =post.comments.count
    = link_to 'Show', post
    - if logged_in?
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
  %hr
- if logged_in?
  = link_to 'New post', new_post_path
