%h1= t("views.posts.index")
- @posts.each do |post|
  %h3= link_to post.title, post
  = textilize(post.content)
  %br
  %span.post-footer
    = post.user.login.capitalize if post.user
    %span.date= post.created_at.strftime("%d.%m.%y %H:%M")
    %span.comments
      Ilośc komentarzy:
      = post.comments.count
  %br
  %br
    - if logged_in?
      = link_to t("edit"), edit_post_path(post)
      = link_to t("destroy"), post, :confirm => t("sure"), :method => :delete
  %br
  %hr
= will_paginate @posts, :previous_label => t("pagination_previous"), :next_label => t("pagination_next")
- if logged_in?
  %p
    = link_to t("views.posts.new"), new_post_path
