%h1= "posts"[:posts]
- for post in @posts
  %h3= link_to "#{post.title}", post
  %p
    %br
    =h post.content
    %br
    %br
    %span.post-footer 
      = post.user.login.capitalize if post.user
      %span.date= post.created_at.strftime("%d.%m.%y %H:%M")
      %span.comments
        Ilośc komentarzy: 
        = post.comments.count
    %br
    %br 
    - if logged_in?
      = link_to 'Edit'[:edit], edit_post_path(post)
      = link_to 'Destroy'[:destroy], post, :confirm => 'Are you sure?', :method => :delete
    = will_paginate @posts
  %br
  %hr
%p
  - if logged_in?
    = link_to 'New'[:new_female]+' '+'post'[:post], new_post_path
