%h1 Listing posts
- for post in @posts
  %p
    %h3
      = link_to "#{post.title}", post
    %small 
      = post.user.login.capitalize
      = post.created_at.strftime("%d.%m.%y %H:%M")
    %br
    %br
    = post.content
    %br
    %small 
      Ilośc komentarzy: 
      = post.comments.count
    - if logged_in?
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
    = will_paginate @posts
    %hr
- if logged_in?
  = link_to 'New post', new_post_path
