%p
  %h3=h @post.title
= textilize @post.content
%br
%span.post-footer
  = @post.user.login.capitalize if @post.user
  %span.date= hour_minute(@post.created_at)
%br
%br
%div#comments
  = render @post.comments
%h2= t("views.posts.add_comment")
- form_for Comment.new(:post => @post) do |f|
  = f.error_messages
  = f.hidden_field :post_id
  %p
    = f.label :name, t("activerecord.attributes.comment.name")
    %br
    = f.text_field :name
  %p
    = f.label :content, t("activerecord.attributes.comment.content")
    %small= t("textile_hint", :url => link_to( "textile", "http://www.textism.com/tools/textile/", :popup => true))
    %br
    = f.text_area :content, :rows => 10
  %p
    = f.submit t("confirm")
