%p
  %h3= @post.title
= textilize @post.content
%br
%span.post-footer
  = @post.user.login.capitalize if @post.user
  %span.date= hour_minute(@post.created_at)
%br
%br
%div#comments
  = render @post.comments
%h2= t("views.posts.add_comment")

= simple_form_for Comment.new(:post => @post) do |f|
  %div= f.input :post_id, :as => :hidden
  %div= f.input :name, :input_html => {:value => current_user.try(:login)}
  %div= f.input :content, :hint => t("textile_hint", :url => link_to( "textile", "http://www.textism.com/tools/textile/")).html_safe
  %div= f.button :submit, t("confirm"), :class => "button"
