%p
  %h3=h @post.title
%p
  =h @post.content
  %br
  %br
  %span.post-footer
    = @post.user.login.capitalize if @post.user
    %span.date= @post.created_at.strftime("%d.%m.%y %H:%M")
%p
  %hr
  - @post.comments.each do |comment|
    %p
      =h comment.content
      %br
      %br
      %span.post-footer
        =h comment.name.capitalize if comment.name
        %span.date= comment.created_at.strftime("%d.%m.%y %H:%M")
      %br
      - if logged_in?
        %br
        = link_to 'Edit', edit_comment_path(comment)
        = link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete

= link_to "Add comment", :controller => 'comments', :action=> 'new', :post_id => @post.id



