= simple_form_for @achievement do |f|
  = f.input :played_at, :include_blank => true, :start_year => 2000, :end_year => Time.now.year
  = f.input :place, :collection => 1..10
  = f.input :description, :hint => t("textile_hint", :url => link_to("textile", "http://www.textism.com/tools/textile/")).html_safe
  = f.input :photo_url
  %div= f.button :submit, t("confirm"), :class => "button"
