!!! Strict
%html{html_attrs}
  %head
    %title league creator
    = stylesheet_link_tag "league"
  %body
    #header
      header
    #navbar
      %ul
        %li= link_to "posts", posts_path
        %li= link_to "leagues", leagues_path
        %li= link_to "teams", teams_path
        %li= link_to "matches", matches_path
        %li= link_to "points table", table_path
        - if logged_in?
          %li= link_to "Logout", logout_path
        - else
          %li= link_to "Login", login_path
    #content
      - unless flash[:error].nil?
        %div#error= flash[:error] 
      - unless flash[:notice].nil?
        %div#notice= flash[:notice] 
      = yield
    #footer
