!!! Strict
%html{html_attrs}
  %head
    %meta{:name=>"verify-v1", :content=>"p3vhsABnuwDTuRTflrKA0+zZqC7B4naN2mU9YoCwD/c="}
    %title SAPS Gliwice
    %link{:rel=>"shortcut icon", :href=>"/images/ball.ico"}
    = stylesheet_link_tag "saps"
    = javascript_include_tag 'jquery', 'jSmile', 'my'
  %body
    #wrap
      #header
        %h1#logo-text
          saps
        %p#slogan
          Stowarzyszenie Amatarów Piłki Siatkowej
        #header-links
          - if Gibberish.current_language == :en
            = link_to image_tag( "/images/pl.gif"), current('pl')
          - else
            = link_to image_tag( "/images/en.gif"), current('en')        
      #menu
        %ul
          %li= link_to "posts"[:posts], posts_path
          %li= link_to "league"[:league], :controller=>'leagues', :action => 'show'
          %li= link_to "gallery"[:gallery], gallery_path
          - if logged_in?
            %li= link_to "users"[:users], users_path
            %li= link_to "Logout #{current_user.login}", logout_path
          - else
            %li= link_to "Login", login_path
        - if leagues?
          #submenu
            %ul
              %li= link_to "teams"[:teams], teams_path
              %li= link_to "leagues"[:leagues], leagues_path

      #content-wrap
        #main
          - unless flash[:error].nil?
            %span#error= flash[:error] 
          - unless flash[:notice].nil?
            %span#notice= flash[:notice]
          = yield 
      #footer
