!!! Strict
%html{html_attrs}
  %head
    %title league creator
    = stylesheet_link_tag "scaffold"
  %body
    #header
    #content
      - unless flash[:error].nil?
        %div.error= flash[:error] 
      - unless flash[:notice].nil?
        %div.notice= flash[:notice] 
      = link_to "leagues", leagues_path
      = yield
    #footer
