!!!
%html
  %head
    %meta{:name => "description", :content => "SAPS - Stowarzyszenie Amatorów Piłki Siatkowej - strona domowa klubu siatkarskiego z Gliwic"}
    %title SAPS Gliwice
    %link{:rel => "shortcut icon", :href => "/assets/ball.ico"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = auto_discovery_link_tag(:rss, matches_path(:rss))
  %body
    #container
      %header
        %h1#logo-text
          = link_to "saps", root_path
        %p#slogan
          Stowarzyszenie Amatarów Piłki Siatkowej
        #header-links
          - if I18n.locale.to_sym == :en
            = link_to image_tag("pl.gif"), current(:pl)
          - else
            = link_to image_tag("en.gif"), current(:en)
      %nav
        %ul#menu
          %li= link_to t("menu.posts"), posts_path
          %li
            = link_to t("menu.league"), generate_league_path
            %ul
              %li= link_to t("menu.teams"), teams_path
              %li= link_to t("menu.leagues"), leagues_path
              %li= link_to t("menu.recent_matches"), matches_path
          %li= link_to t("menu.achievements"), achievements_path
          %li= link_to t("menu.gallery"), galleries_path
          %li= link_to t("menu.players"), players_path
          - if logged_in?
            %li= link_to t("menu.users"), users_path
            %li= link_to t("menu.account"), account_path
            %li= link_to "Logout #{current_user.login}", logout_path
          - else
            %li= link_to "Login", login_path
      %section#content
        #main
          = render "shared/flash", :flash => flash
          = yield
      %footer
        .contact= t("contact", :email => "saps.gliwice@gmail.com")
        .copyright &copy; 2012 SAPS Gliwice
    = render "layouts/google_analytics"
